@import "../_variables.scss";



.fill-remaining-space{
    flex: 1 1 auto;
}
.logo{
    font-size: 20px;
    cursor: pointer;
    margin-left: 7px;
}

.logo-icon{
}

.logo:focus{
    outline: none !important;
}

.user-name {
    font-size: 20px;
}

.mat-toolbar{
    background-color: map-get($colors,primary);
    color: map-get($colors, text-primary);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;  
}

.navbar-menu {
    top: -3px;
}

.navbar-menu {
    color: map-get($colors,text-primary);

    &:hover {
        color:map-get($colors,secondary);
    }
}