<mat-toolbar>
    <mat-icon class="logo-icon">home</mat-icon>
    <div class="logo" routerLink="/" >
      Student DashBoard
    </div>
    <span class="fill-remaining-space"></span>
    <span>
    <span class="user-name">John Doe</span>
    <button class="navbar-menu" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </span>
  </mat-toolbar>
  