@import "../../_variables.scss";

.upload-drop-zone {
    border: 2px dashed map-get($colors,primary);
    border-radius: 5px;
    background: white;
    min-height: 150px;
    padding: 54px 54px;
}

.drag-drop-text {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: map-get($colors,primary)
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.choose-btn {
    color: white; 
    margin-top: 13px; 
    padding: 10px;
    cursor: pointer;
    font-size: 13px;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #007ac1;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}