<div class="upload-drop-zone" fxLayoutAlign="start center" fxLayout="column">
  <div fxLayout="row">
    <mat-icon style="width:100px; height: 100px;" class="material-icons md-100 primary-color">cloud_upload</mat-icon>
  </div>
  <div fxLayout="row" class="drag-drop-text" >Trage fisierele aici</div>
  <div fxLayout="row" style="color: gray; margin-top: 5px;" class="font-roboto">sau</div>
  <button mat-raised-button class="bg-primary" style="color: white; margin-top: 10px;">Cauta fisiere</button>
</div>