@import "../_variables.scss";

.fill-remaining-space{
    flex: 1 1 auto;
}
.logo{
    font-size: 20px;
    cursor: pointer;
    margin-left: 7px;
}

.logo-icon{
}

.logo:focus{
    outline: none !important;
}

.mat-toolbar{
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
      
}

.navbar-menu {
    top: -3px;
}

.login-button{
    font-size: 20px;
    margin-top: 25%;
    margin-left: 45%;
    background-color:map-get($colors,primary);
    color:map-get($colors,text-primary);

   &:hover {
    background-color:map-get($colors,secondary);
   } 
}

.mat-toolbar {
    background-color: map-get($colors, primary );
    color: map-get($colors,text-primary);
}