@import "../../variables";

.registerLoginContainer {
    margin-top: 250px;
    background-color: #ffffff;
    margin-left:40%;
    margin-right:40%;
    
}

.resetPassword { 
    box-shadow: 5px 10px 8px #888888;
    padding: 20px;
}

.sendRequest {
    &:hover {
        background-color:map-get($colors,secondary );
    }
}

