.file-card-display {
    margin: 10px !important;
}

mat-card {
    padding-bottom: 5px !important;
    margin-top: 10px !important;
    cursor: pointer;
}

.mat-card-title {
    font-weight:bold;
    font-size: 12.5px; 
    height: 28px;
    overflow: hidden;
}
.page-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;  
    margin-top: 4px;
    margin-left: 220px;
  }
    
    .right-side{
      text-align: center;
      font-size: 150px;
    }