.file-card-display {
    margin: 10px !important;
}

mat-card {
    margin-top: 10px !important;
}

.mat-card-title {
    font-weight:bold;
    font-size: 20px; 
    max-height: 45px;
    overflow: hidden;
}
