.registerLoginContainer {
    margin-top: 250px;
    background-color: #ffffff;
    
}

.register {
    box-shadow: 5px 10px 8px #888888;
    padding: 20px;
}
 
.login {
    box-shadow: 5px 10px 8px #888888;
    padding: 20px;
}

.loginButton {
    width: 200px;

}
.registerButton {
    width: 200px;
    
}

hr {
    margin-top: 0 !important;
}