<mat-drawer-container class="example-container">
  <mat-drawer class="left-side" mode="side" opened [disableClose]="true">
    <button mat-button (click)="openDialog()">Adauga curs</button>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let c of courses">
        <mat-expansion-panel-header (contextmenu)="onContextMenu($event, c)">
          <mat-panel-title>
            {{c.nume}}
          </mat-panel-title>
          <div style="position: fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
            [matMenuTriggerFor]="contextMenu" [matMenuTriggerData]="{item: c}">
          </div>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem" style="cursor: pointer" (click)="onCourseTypeClick(c, 'curs')" *ngIf="c.curs">Curs</mat-list-item>
          <mat-list-item role="listitem" style="cursor: pointer" (click)="onCourseTypeClick(c, 'laborator')" *ngIf="c.laborator">Laborator</mat-list-item>
          <mat-list-item role="listitem" style="cursor: pointer" (click)="onCourseTypeClick(c, 'seminar')"  *ngIf="c.seminar">Seminar</mat-list-item>
          <mat-list-item role="listitem" style="cursor: pointer" (click)="onCourseTypeClick(c, 'proiect')"  *ngIf="c.proiect">Proiect</mat-list-item>
        </mat-list>      </mat-expansion-panel>
    </mat-accordion>
    <mat-menu #contextMenu="matMenu">
      <ng-template matMenuContent let-item="item">
        <button mat-menu-item [routerLink]="['/courses/',item.nume]" (click)="openDialog(item)">
          <mat-icon>edit</mat-icon>
          <span>Editeaza</span>
        </button>
        <button mat-menu-item (click)="openDeleteDialog(item)">
          <mat-icon>delete</mat-icon>
          <span>Sterge</span>
        </button>
      </ng-template>
    </mat-menu>
  </mat-drawer>
  <mat-drawer-content>
    <app-upload-files *ngIf="courseTypeSelected" [currentUser]="currentUser" [course]="course" [courseType]="courseType" ></app-upload-files>
    <h1 *ngIf="!courseTypeSelected">Main Content</h1>
  </mat-drawer-content>
</mat-drawer-container>