@import "../_variables.scss";

  .left-side{
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top:4px;
    background-color: map-get($colors,primary);
    width:220px;
    text-align: center;
  }
  .disabled
  {
      background-color: orange;
  }

  .addCourseButton {
    color: map-get($colors,text-primary);

    &:hover {
      width: 220px;
      background-color: map-get($colors,secondary);
    }
  }

  .expanation-panel{
    background-color: map-get($colors, primary) !important;
    color: map-get($colors, text-primary) !important;
    border-radius: 0 !important;
       &:hover {
         background-color: map-get($colors,secondary) !important;
       }
  }

  .active {
    background-color: map-get($colors,secondary) !important;
  }

  mat-selection-list >  mat-list-option{
    text-decoration: none;
    background-color: map-get($colors, primary);
    color: map-get($colors, text-primary) !important;
     
       &:hover {
         background-color: map-get($colors,secondary) !important;
       }
      }

   mat-panel-title {
    color: map-get($colors, text-primary) !important;
  }

  ::ng-deep .mat-expansion-panel-body{
    background-color: map-get($colors, primary);
    color: map-get($colors, text-primary);
    padding: 0px !important;
  }
  ::ng-deep .mat-list-text{
    padding: 0 !important;
  }

  ::ng-deep .mat-list-base .mat-list-option .mat-list-item-content-reverse {
    padding: 0 !important;
  }

  ::ng-deep .mat-expansion-indicator::after{
    color: map-get($colors, text-primary);
  }
  ::ng-deep.mat-pseudo-checkbox{
  display: none !important;
}

::ng-deep.mat-drawer-inner-container{
  background-color:map-get($colors, primary) !important;
}

