<h1 mat-dialog-title>Structura curs</h1>
<div mat-dialog-content>
  <div class="folder-structure-choise">
    <form class="folder-structure-choise" #f="ngForm" (ngSubmit)=add(f.value) >
      <mat-form-field>
        <input matInput [(ngModel)]="course.nume" name="nume" type="text" placeholder="Nume materie" required>
       </mat-form-field>
      <mat-checkbox [(ngModel)]="course.curs" name="curs" value="Curs" aria-required="true">Curs</mat-checkbox>
      <mat-checkbox [(ngModel)]="course.laborator" name="laborator" value="Laborator">Laborator</mat-checkbox>
      <mat-checkbox [(ngModel)]="course.seminar" name="seminar" value="Seminar">Seminar</mat-checkbox>
      <mat-checkbox [(ngModel)]="course.proiect" name="proiect" value="Laborator">Proiect</mat-checkbox>
      <div mat-dialog-actions>
        <button mat-button cdkFocusInitial>Adauga</button>
        <button mat-button (click)="closeDialog()">Anulare</button>
      </div>
      <br>
      <span>* camp obligatoriu</span>
    </form>
  </div>
</div>