@import "../_variables.scss";

.file-card-display {
    margin: 0px 20px!important;
}

mat-card {
    padding-bottom: 5px !important;
    margin-top: 20px !important;
    cursor: pointer;
}

.mat-card-title {
    font-weight:bold;
    font-size: 12.5px; 
    height: 34px;
    overflow: hidden;
}
.page-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;  
    margin-top: 4px;
    margin-left: 220px;
  }
    
.right-side{
    text-align: center;
    font-size: 150px;
}

.fab-button {
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 6;
    background-color: map-get($colors,primary);
}

.fab-button:hover {
    color: map-get($colors,secondary);
}