<mat-drawer-container class="page-container">
  <mat-drawer-content class="left-side">
    <div class="file-card-display " style="display: flex; flex-wrap: wrap;" fxLayout="row wrap" fxLayout.lt-xs="column"
      fxLayoutGap="10px">
      <mat-card *ngFor="let file of filesShow" class="example-card" style="width: 100px; margin-top: 15px !important;"
        (click)="openDownloadFile(file)" (contextmenu)="onContextMenuFile($event, file)">
        <div style="position: fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
          [matMenuTriggerFor]="contextMenu" [matMenuTriggerData]="{item: file}">
        </div>
        <img mat-card-image style="width:80% !important;display: block;margin-left: auto; margin-right: auto;" src="{{this.image}}">
        <mat-card-title>{{file.name}}</mat-card-title>

        <mat-menu #contextMenu="matMenu">
          <ng-template matMenuContent let-item="item">
            <button mat-menu-item (click)="openDownloadFile()">
              <mat-icon>open_in_new</mat-icon>
              <span>Deschide</span>
            </button>
            <button mat-menu-item (click)="openDeleteFileDialog(file)">
              <mat-icon>delete</mat-icon>
              <span>Sterge</span>
            </button>
          </ng-template>
        </mat-menu>
      </mat-card>
    </div>
    <mat-paginator fxShow fxHide.xs class="pagination"
        [length] = "length" 
        [pageSize]="pageSizeOption" 
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOption" 
        (page)="onPage($event)">
      </mat-paginator>
  </mat-drawer-content>
</mat-drawer-container>
<button (click)="openUploadDialog()" class="fab-button" mat-fab>
  <mat-icon>add</mat-icon>
</button>

