.example-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;  
  }
  
  .left-side{
    width:15%;
    text-align: center;
  }
  .right-side{
    text-align: center;
    font-size: 150px;
  }