<div class="registerLoginContainer">
  <form class="resetPassword" #f="ngForm" (ngSubmit)="resetPassword()" fxLayout="column">
    <mat-form-field class="formField">
      <input matInput [(ngModel)]=email name="email" placeholder="Email" [formControl]="emailFormControl"
          required>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Introduceti o adresa de email valida
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Acest camp este <strong>obligatoriu</strong>
      </mat-error>
    </mat-form-field>
    <button class="sendRequest" mat-button>Send request</button>
  </form>
</div>