@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/_variables.scss";

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-54 { font-size: 54px; }
.material-icons.md-66 { font-size: 66px; }
.material-icons.md-100 { font-size: 100px; }
.material-icons.primary-color { color: map-get($colors,primary)}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.bg-primary {
    background-color: map-get($colors,primary);
}

.mat-tab-body-content {
    overflow: hidden !important;
}